body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}
.no-focus {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sexy-button {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 3px solid black;
    background-color: #f0f0f0;
    cursor: pointer;
}
.valve {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 3px solid black;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    pointer-events: none;
    background-color: white;
}
#valves {
    display: flex;
    width: 150px;
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none;    /* For Firefox */
    -ms-user-select: none;     /* For Internet Explorer/Edge */
    user-select: none;
}
.interval {
    pointer-events: none;
}
#pitch-line {
    width: 100%;
    height: 5px;
    background-color: red;
    position: absolute;
    pointer-events: none;
}
#trombone-slide-line {
    width: 5px;
    height: 100%;
    background-color: blue;
    position: absolute;
    pointer-events: none;
}
.horn-image {
    width: 500px;
    height: 500px;
    object-fit: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
#horn-image-container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#bone-slide-container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.note-image {
    width: 520px;
    height: 800px;
    object-position: -70px -140px;
    overflow: hidden;
    object-fit: none;
    transform: scale(0.3);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
#note-image-container {
    position: absolute;
    top: 200px;
    left: 0px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    z-index: 999; /* Ensure it's on top */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.overlay.show {
    display: flex; /* Show and center the content */
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative; /* For positioning the close button */
}