body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-focus {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.valve {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 3px solid black;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    pointer-events: none;
    background-color: white;
}
#valves {
    display: flex;
    width: 150px;
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none;    /* For Firefox */
    -ms-user-select: none;     /* For Internet Explorer/Edge */
    user-select: none;
}
.interval {
    pointer-events: none;
}
#pitch-line {
    width: 100%;
    height: 5px;
    background-color: red;
    position: absolute;
    pointer-events: none;
}
.horn-image {
    width: 500px;
    height: 500px;
    object-fit: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
#horn-image-container {
    position: absolute;
    top: 50px;
    left: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.note-image {
    width: 520px;
    height: 800px;
    object-position: -70px -140px;
    overflow: hidden;
    object-fit: none;
    transform: scale(0.3);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
#note-image-container {
    position: absolute;
    top: 200px;
    left: 0px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}